CHANGELOG.md
!packages/prosekit/CHANGELOG.md
**/vite.*.timestamp-*.mjs
.yalc
yalc.lock

.cache
.DS_Store
.idea
*.log
*.tgz
coverage
dist
lib-cov
logs
node_modules
temp
*.tsbuildinfo
.turbo
.temp
website/.vitepress/cache
website/references
tsup.config.bundled*
vite.config.ts.timestamp*
.svelte-kit
test-results
playwright-report
