CLAUDE.md
CHANGELOG.md
!packages/prosekit/CHANGELOG.md
**/vite.*.timestamp-*.mjs
**/.astro/**/*
**/public/astrobook
.yalc
yalc.lock

.cache
.DS_Store
.idea
*.log
*.tgz
coverage
**/dist/*
lib-cov
logs
node_modules
temp
*.tsbuildinfo
.turbo
.temp
website/src/content/docs/references
vite.config.ts.timestamp*
.svelte-kit
test-results
playwright-report
