.ProseMirror-search-match {
  background-color: hsla(60, 100%, 50%, 0.329);
  box-shadow: 0 0 0 2px hsla(60, 100%, 50%, 0.329);
  border-radius: 2px;
}

.ProseMirror.ProseMirror-focused .ProseMirror-active-search-match::selection,
.ProseMirror:not(.ProseMirror-focused) .ProseMirror-active-search-match {
  background-color: hsla(25, 100%, 50%, 0.329);
  box-shadow: 0 0 0 2px hsla(25, 100%, 50%, 0.329);
  border-radius: 2px;
}
