@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);
@import "tw-animate-css";

@source "../../../registry/src/";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "@egoist/tailwindcss-icons";
