---
import type { Props } from '@astrojs/starlight/props'

import Default from '@astrojs/starlight/components/SiteTitle.astro'
---

<span class="site-title-wrapper"><Default {...Astro.props} /></span>

<style >
  .site-title-wrapper {
	--sl-color-text-accent: var(--sl-color-text);
  }
</style>
