---
import Basic from './popover/basic.html'
import DefaultOpen from './popover/default-open.html'
import OpenOnHover from './popover/open-on-hover.html'

interface Props {
  story: "basic" | "default-open" | "open-on-hover"
}

const { story } = Astro.props
---


<script>
  import { registerElements } from '@aria-ui/elements'

  registerElements()

</script>

<style is:global>
  aria-ui-popover-positioner:not(:defined) {
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  aria-ui-popover-popup:not(:defined) {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
</style>
 
<div class="p-4">
{story === "basic" && <Basic />}
{story === "default-open" && <DefaultOpen />}
{story === "open-on-hover" && <OpenOnHover />}
</div>
