<div data-prosekit-story-container>
  <div data-prosekit-story-container-inner>
    <slot />
  </div>
</div>

<style>
  [data-prosekit-story-container] {
    container-name: prosekit-story-container;
    container-type: inline-size;
    width: 100%;
    min-width: 0;
    height: 100%;
    min-height: 0;
    max-height: 100%;
  }

  @media print {
    [data-prosekit-story-container] {
      height: max-content;
      max-height: max-content;
    }
  }

  [data-prosekit-story-container-inner] {
    box-sizing: border-box;
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    min-width: 0;
    max-width: 900px;
    height: 100%;
    min-height: 0;
    max-height: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  @media screen and (width >= 900px) {
    [data-prosekit-story-container-inner] {
      padding: 4rem;
    }
  }

  @media screen and (width >= 600px) and (width < 900px) {
    [data-prosekit-story-container-inner] {
      padding: 2rem;
    }
  }

  @media screen and (width < 600px) {
    [data-prosekit-story-container-inner] {
      padding: 0.5rem;
    }
  }

  [data-prosekit-story-container-inner]:has(pm-page-chunk) {
    max-width: 100%;
    padding: 0;
  }
</style>
