<div data-prosekit-story-container class="w-full h-full min-w-0 min-h-0 max-h-full">
  <div
    data-prosekit-story-container-inner
    class="w-full h-full min-w-0 min-h-0 max-h-full flex flex-col max-w-[900px] ml-auto mr-auto box-border"
  >
    <slot />
  </div>
</div>

<style>
  [data-prosekit-story-container] {
    container-name: prosekit-story-container;
    container-type: inline-size;

    /* 
    Reset some default styles from starlight

    https://github.com/withastro/starlight/blob/bdb05e704a6cf06a029367f99b6bf2f575e5a5f3/packages/starlight/style/reset.css#L11-L26 
    */
    accent-color: initial;
    line-height: initial;
    color: initial;
    background-color: initial;
  }

  [data-prosekit-story-container-inner] {
    padding: 0.5rem;
  }

  @container prosekit-story-container (width >= 30rem) and (width < 50rem) {
    [data-prosekit-story-container-inner] {
      padding: 1rem;
    }
  }

  @container prosekit-story-container (width >= 900px) {
    [data-prosekit-story-container-inner] {
      padding: 4rem;
    }
  }
</style>
