---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro'

import Demo from '../../components/ui/demo/demo.astro'
import { exampleSidebar, stories, storyMap } from '../../example-data'
import ShadcnInstall from '@/components/ui/demo/shadcn-install.astro'

export function getStaticPaths() {
  return stories.map((story) => ({
    params: { story: story.name },
  }))
}

const story = Astro.params.story
---

<StarlightPage frontmatter={{ title: 'Example: ' + story, tableOfContents: false, pagefind: false }} sidebar={exampleSidebar}>
  <p>{storyMap.get(story)?.description}</p>
  <ShadcnInstall story={story} />
  <Demo story={story} />
</StarlightPage>
