---
import { Code } from '@astrojs/starlight/components'
import type { ComponentProps } from 'astro/types'

type CodeProps = ComponentProps<typeof Code>

interface Props {
  codes: CodeProps[]
}

const { codes } = Astro.props

const titles: string[] = codes.map((code): string => {
  let title = code.title
  if (!title) {
    throw new Error('Code block title is required')
  }
  return title
})

if (new Set(titles).size !== titles.length) {
  throw new Error('Code block titles must be unique')
}

import {
  TabItem,
  Tabs,
} from '@astrojs/starlight/components'
---

<div class="code-group rounded-lg border-border border-solid border-1 overflow-hidden">
  <slot />
  <Tabs>
    {
      codes.map((code) => (
        <TabItem label={code.title || ''}>
          <Code {...{ ...code, title: undefined }} />
        </TabItem>
      ))
    }
  </Tabs>
</div>

<style is:global>
  .code-group {
    .tablist-wrapper {
      scrollbar-width: none;

      [role='tablist'] {
        @apply border-b-transparent;
      }

      [role='tab'] {
        @apply font-mono text-sm pt-2 pb-1 px-3;

        &:not([aria-selected='true']) {
          @apply border-b-transparent;
        }
      }
    }

    div[role='tabpanel'] {
      margin: 0;
    }

    div[role='tabpanel'] pre {
      border-color: transparent;
    }
  }
</style>
