---
import {
  SelectContent,
  SelectItem,
  SelectList,
  SelectTrigger,
} from './select'

interface Props {
  name: string
  defaultShowCode?: boolean
}

const frameworks: string[] = Object.keys(Astro.slots)
const frameworkToHTML: Record<string, string> = {}

for (const framework of frameworks) {
  frameworkToHTML[framework] = await Astro.slots.render(framework)
}

Object.keys(Astro.slots).forEach((key) => {
  console.log('key', key)
})
---

<script>
import '@aria-ui/select'
</script>

<div>
  <h1>EXAMPLE GROUP</h1>
  <div>
    <aria-ui-select-root class="not-content">
      <SelectTrigger>
        <aria-ui-select-value placeholder="Select a Framework...">React</aria-ui-select-value>
      </SelectTrigger>
      <SelectContent>
        <SelectList value="react">
          <SelectItem value="react">React</SelectItem>
          <SelectItem value="vue">Vue</SelectItem>
          <SelectItem value="solid">Solid</SelectItem>
          <SelectItem value="preact">Preact</SelectItem>
          <SelectItem value="svelte">Svelte</SelectItem>
        </SelectList>
      </SelectContent>
    </aria-ui-select-root>
  </div>
  {
    frameworks.map((framework) => (
      <div>
        <div>
          <div>{framework}</div>
          <Fragment set:html={frameworkToHTML[framework]} />
        </div>
      </div>
    ))
  }
</div>
