---
import MultipleFrameworksDemo from './multiple-frameworks-demo/multiple-frameworks-demo.astro'

interface Props {}
---

<div>
  <MultipleFrameworksDemo story="minimal" />
  <MultipleFrameworksDemo story="full" />
  <MultipleFrameworksDemo story="code-block" />
</div>
