---
interface Props {
  key: string
  keySeparator?: string
}

const { key, keySeparator = '+' } = Astro.props
const keys = key.split(keySeparator)
---

<span class="inline-flex items-center gap-0.5">
  {keys.map((k) => <kbd>{k}</kbd>)}
</span>
