---
interface Props {
  href: string
  label: string
  type?: 'primary' | 'secondary'
}

const { href, label, type = 'secondary' } = Astro.props
---

<a
  href={href}
  class:list={[
    'inline-flex items-center justify-between px-6 py-3 rounded-xl',
    'transition duration-200 shadow-sm hover:shadow-md no-underline',
    'font-medium group',

    type === 'primary'
      ? [
        'bg-black hover:bg-gray-800 dark:bg-gray-100 dark:hover:bg-gray-300',
        'text-white dark:text-gray-900',
      ]
      : [
        'border border-gray-200 dark:border-gray-700',
        'bg-white dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-700',
        'text-gray-700 dark:text-gray-200',
      ],
  ]}
>
  <span>{label}</span>
  <div class="i-tabler-arrow-right ml-2 size-5 transition-all group-hover:translate-x-1"></div>
</a>
