@media (min-width: 960px) {
  body:not(.scrolled) .Layout .VPNavBar.has-sidebar .curtain::before {
    opacity: 0;
  }

  body.scrolled .Layout .VPNavBar.has-sidebar .curtain::before {
    opacity: 1;
  }

  body .Layout .VPNavBar.has-sidebar .curtain {
    pointer-events: none;
  }

  body .Layout .VPNavBar.has-sidebar .curtain::before {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: var(--vp-c-divider);
    width: 100%;
    max-width: calc(var(--vp-layout-max-width) - var(--vp-sidebar-width));
    background: transparent;
    transition: opacity 0.2s;
    pointer-events: none;
  }
}

:root {
  --prosekit-nav-bg: hsla(0, 0%, 100%, 0.8);
}

.dark {
  --prosekit-nav-bg: rgb(27, 27, 31, 0.8);
}

body .Layout .VPNav .VPNavBar {
  --vp-nav-bg-color: transparent;
  backdrop-filter: saturate(180%) blur(5px);
  background: var(--prosekit-nav-bg) !important;
  box-shadow: inset 0 -1px 0 0 var(--vp-c-divider);
  border-bottom: none;
}

body .Layout .VPLocalNav {
  border-top: none;
}

@media (min-width: 960px) {
  body .VPSidebar {
    top: var(--vp-nav-height) !important;
    padding-top: 0 !important;
  }
}
