:root {
  --prosekit-nav-bg: hsla(0, 0%, 100%, 0.8);
}

.dark {
  --prosekit-nav-bg: rgb(27, 27, 31, 0.8);
}

body .Layout .VPNav .VPNavBar {
  --vp-nav-bg-color: transparent;
  backdrop-filter: saturate(180%) blur(5px);
  background: var(--prosekit-nav-bg) !important;
}

body .Layout .VPLocalNav {
  border-top: none;
}

@media (min-width: 960px) {
  body .VPSidebar {
    top: var(--vp-nav-height) !important;
    padding-top: 0 !important;
  }
}

iframe {
  border-width: 0;
}

#local-search > .DocSearch-Button {
  background: rgba(150, 150, 150, 0.08);
}
