:root {
  --prosekit-nav-bg: hsla(0, 0%, 100%, 0.8);
}

.dark {
  --prosekit-nav-bg: rgb(27, 27, 31, 0.8);
}

body .Layout .VPNav .VPNavBar {
  --vp-nav-bg-color: transparent;
  backdrop-filter: saturate(180%) blur(5px);
  background: var(--prosekit-nav-bg) !important;
}

body .Layout .VPNav .VPNavBar .VPNavBarTitle * {
  border: none;
}

body .Layout .VPNav .VPNavBar .divider {
  padding-left: 0;
}

/* Override https://github.com/vuejs/vitepress/blob/v1.1.4/src/client/theme-default/components/VPNavBarHamburger.vue#L38-L42 */
body .Layout .VPNav .VPNavBarHamburger {
  display: flex;

  @media (min-width: 960px) {
    & {
      display: none;
    }
  }
}

/* Override https://github.com/vuejs/vitepress/blob/v1.1.4/src/client/theme-default/components/VPNavScreen.vue#L74-L78 */
body .Layout .VPNav .VPNavScreen {
  display: block;

  @media (min-width: 960px) {
    & {
      display: none;
    }
  }
}

/* Override https://github.com/vuejs/vitepress/blob/v1.1.4/src/client/theme-default/components/VPNavBarMenu.vue#L20-L28 */
body .Layout .VPNav .VPNavBarMenu {
  display: none;

  @media (min-width: 960px) {
    & {
      display: flex;
    }
  }
}

/* Override https://github.com/vuejs/vitepress/blob/v1.1.4/src/client/theme-default/components/VPNavBarExtra.vue#L51-L66 */
body .Layout .VPNav .VPNavBarExtra {
  display: none;

  @media (min-width: 960px) {
    & {
      display: block;
    }
  }

  @media (min-width: 1280px) {
    .VPNavBarExtra {
      display: none;
    }
  }
}

body .Layout .VPLocalNav > .container {
  max-width: 100%;
}

@media (min-width: 960px) {
  body .VPSidebar {
    top: var(--vp-nav-height) !important;
    padding-top: 0 !important;
  }
}

@media (min-width: 768px) {
  #local-search > .DocSearch-Button {
    background: rgba(150, 150, 150, 0.08);
  }
}

iframe {
  border-width: 0;
}
