/* Based on https://github.com/withastro/starlight/blob/60070579a8b03be338982b7eed15ea9b9a557746/packages/tailwind/tailwind.css */

@layer base {
  /* Restore crucial styles from Tailwind Preflight: https://tailwindcss.com/docs/preflight */
  /* Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116) */
  *,
  ::after,
  ::before {
    border: 0 solid;
  }
  /* Keep base font-family styles even in non-Starlight pages. */
  html,
  :host {
    font-family: var(--font-sans);
  }
  code,
  kbd,
  samp,
  pre {
    font-family: var(--font-mono);
  }
}

@layer utilities {
  /* Wire up Starlight theme to use Tailwind config. */
  :root {
    /* Use Tailwind-configured font families. */
    --sl-font: var(--font-sans);
    --sl-font-mono: var(--font-mono);
  }
}
