/* Based on https://github.com/withastro/starlight/blob/60070579a8b03be338982b7eed15ea9b9a557746/packages/tailwind/tailwind.css */

@layer base {
  /* Restore crucial styles from Tailwind Preflight: https://tailwindcss.com/docs/preflight */
  /* Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116) */
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    box-sizing: border-box;
    border: 0 solid;
  }
  /* Keep base font-family styles even in non-Starlight pages. */
  html,
  :host {
    font-family: var(--font-sans);
  }
  code,
  kbd,
  samp,
  pre {
    font-family: var(--font-mono);
  }

  /*
    1. Inherit font styles in all browsers.
    2. Remove border radius in all browsers.
    3. Remove background color in all browsers.
    4. Ensure consistent opacity for disabled states in all browsers.
  */
  button,
  input,
  select,
  optgroup,
  textarea,
  ::file-selector-button {
    border-radius: 0; /* 2 */
    background-color: transparent; /* 3 */
    color: inherit; /* 1 */
    font: inherit; /* 1 */
    font-variation-settings: inherit; /* 1 */
    font-feature-settings: inherit; /* 1 */
    letter-spacing: inherit; /* 1 */
    opacity: 1; /* 4 */
  }

  /*
    Reset links to optimize for opt-in styling instead of opt-out.
  */
  a {
    color: inherit;
  }
}

@layer utilities {
  /* Wire up Starlight theme to use Tailwind config. */
  :root {
    /* Use Tailwind-configured font families. */
    --sl-font: var(--font-sans);
    --sl-font-mono: var(--font-mono);
  }
}

.sl-markdown-content kbd:not(:where(.not-content *)) {
  @apply rounded-md inline-flex justify-center items-center py-1 px-1.5 min-w-7 font-mono text-xs m-0;
  @apply border border-gray-300 dark:border-zinc-700;
  @apply text-gray-800 dark:text-zinc-200;
  @apply bg-white dark:bg-zinc-800;
  @apply shadow-[0px_2px_0px_0px_rgba(0,0,0,0.13)] dark:shadow-[0px_2px_0px_0px_rgba(255,255,255,0.15)];
}
