---
import { Themes } from '@prosekit/themes'
---

<div class={Themes.CSS_EDITOR_VIEWPORT}>
  <div class={Themes.CSS_EDITOR_SCROLLING}>
    <div class={Themes.CSS_EDITOR_CONTENT}></div>
  </div>
</div>
