---
import { EditorShowcaseClient } from './editor-showcase.client.tsx'
import EditorShowcaseServer from './editor-showcase.server.astro'
---

<div class="py-4 md:py-8 h-[600px] w-full max-w-6xl mx-auto">
  <EditorShowcaseClient client:only="react">
    <Fragment slot="fallback">
      <EditorShowcaseServer />
    </Fragment>
  </EditorShowcaseClient>
</div>
