---
import { PAGE_TITLE_ID } from '../constants'
---

<div class="py-8 md:py-12 flex flex-col max-w-6xl mx-auto">
  <h1
    id={PAGE_TITLE_ID}
    class="text-4xl sm:text-6xl lg:text-7xl xl:text-7xl tracking-tight text-balance font-400 text-gray-900 dark:text-gray-100"
  >
    Build rich text editors with ease
  </h1>

  <h2 class="text-lg/7 font-medium text-gray-600 dark:text-gray-400 mt-8 text-balance">
    A headless, extensible framework designed for creating powerful text editing experiences for the web.
  </h2>
</div>
