---
import examples from 'prosekit-registry/examples.gen.json'
import ShadcnInstallCodeBlock from './shadcn-install-code-block.astro'

interface Props {
  story: string
}

const { story }: Props = Astro.props

const storyData = examples.stories[story as keyof typeof examples.stories]

if (!storyData) {
  throw new Error(`Unable to find examples for story ${story}`)
}

const frameworks = storyData.frameworks
---

<div class="mb-6 flex flex-col">
  <div class="flex items-center justify-between gap-2 mb-2">
    <span>
      Install this example with
      <a href="https://ui.shadcn.com/docs/cli" target="_blank" rel="noopener noreferrer"><code>shadcn</code></a>:
    </span>
  </div>

  <ShadcnInstallCodeBlock frameworks={frameworks} registryName={'example-' + story} />
</div>
