---
import 'prosekit/basic/typography.css'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ProseKit Playground</title>
    <style>
      :root {
        font-family: ui-sans-serif, sans-serif, 'Apple Color Emoji',
          'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji', system-ui;
      }
    </style>

    <script src="../helpers/dark-mode.ts"></script>
  </head>

  <body class="w-100vw h-100vh m-0 box-border flex flex-col p-0">
    <main
      class="w-full h-full max-h-100vh flex flex-col overflow-hidden md:max-w-[900px] m-auto md:p-12 flex-1 p-1 box-border"
    >
      <slot />
    </main>
  </body>
</html>
