---
import 'prosekit/basic/typography.css'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ProseKit Playground</title>
    <style>
      :root {
        font-family: ui-sans-serif, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji', system-ui;
      }
    </style>

    <script src="./dark-mode.ts"></script>
  </head>

  <body class="w-100vw h-100vh m-0 box-border flex flex-col p-0">
    <main class="flex-1 p-1 max-h-full box-border">
      <slot />
    </main>
  </body>
</html>
