---
import NavItem from './nav-item.astro'
---

<nav class="mb-3">
  <NavItem path="/react-minimal" />
  <NavItem path="/react-slash-menu" />
  <NavItem path="/react-user-menu" />

  <NavItem path="/vue-minimal" />
  <NavItem path="/vue-slash-menu" />

  <NavItem path="/preact-minimal" />
  <NavItem path="/preact-slash-menu" />

  <NavItem path="/svelte-minimal" />
  <NavItem path="/svelte-slash-menu" />

  <NavItem path="/solid-minimal" />
  <NavItem path="/solid-slash-menu" />

  <NavItem path="/lit" />
  <NavItem path="/vanilla" />
</nav>
