---
import NavItem from './nav-item.astro'
import { ViewTransitions } from 'astro:transitions'
---

<script src="./nav.ts"></script>

<style>
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
</style>

<nav
  data-playground-nav
  class="no-scrollbar relative flex flex-row md:flex-col items-stretch list-none rounded-lg bg-blue-gray-100 p-0 overflow-x-auto m-1 box-border"
>
  <NavItem path="/react-minimal" />
  <NavItem path="/react-slash-menu" />
  <NavItem path="/react-user-menu" />

  <NavItem path="/vue-minimal" />
  <NavItem path="/vue-slash-menu" />

  <NavItem path="/preact-minimal" />
  <NavItem path="/preact-slash-menu" />

  <NavItem path="/svelte-minimal" />
  <NavItem path="/svelte-slash-menu" />

  <NavItem path="/solid-minimal" />
  <NavItem path="/solid-slash-menu" />

  <NavItem path="/lit" />
  <NavItem path="/vanilla" />
</nav>
