---
import NavList from './nav-list.astro'
---

<script src="./nav.ts"></script>

<style>
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
</style>

<nav
  data-playground-nav
  class="no-scrollbar relative flex flex-row md:flex-col py-1 px-3 items-stretch list-none overflow-y-auto overflow-x-auto box-border max-h-full md:py-3"
>
  <NavList />
</nav>
