.my-awesome-editor {
  --uno: outline-2 outline rounded px-4 py-1 w-full h-200px overflow-auto;
}

.my-slash-menu {
  --uno: relative b-gray border border-solid rounded bg-white;
  user-select: none;
  white-space: nowrap;
  overflow: auto;
}

.my-slash-menu-item {
  position: relative;
  padding: 8px;
  min-width: 64px;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
}

.my-slash-menu-item[data-focused] {
  --uno: bg-gray-3;
}
