---
// Keep the same structure as registry/src/react/ui/button/button.tsx

const { pressed = false, disabled = true } = Astro.props
---

<button
  data-state={pressed ? 'on' : 'off'}
  disabled={disabled}
  class="CSS_TOGGLE_BUTTON"
>
  <slot />
</button>
