---
import Button from './button-fallback.astro'
---

{/* Keep the same structure as registry/src/react/ui/toolbar/toolbar.tsx */}
<div class="CSS_TOOLBAR">
  <Button>
    <div class="CSS_ICON_UNDO" />
  </Button>
  <Button>
    <div class="CSS_ICON_REDO" />
  </Button>
  <Button>
    <div class="CSS_ICON_BOLD" />
  </Button>
  <Button>
    <div class="CSS_ICON_ITALIC" />
  </Button>
  <Button>
    <div class="CSS_ICON_UNDERLINE" />
  </Button>
  <Button>
    <div class="CSS_ICON_STRIKETHROUGH" />
  </Button>
  <Button>
    <div class="CSS_ICON_CODE" />
  </Button>
  <Button>
    <div class="CSS_ICON_CODE_BLOCK" />
  </Button>
  <Button>
    <div class="CSS_ICON_H1" />
  </Button>
  <Button>
    <div class="CSS_ICON_H2" />
  </Button>
  <Button>
    <div class="CSS_ICON_H3" />
  </Button>
  <Button>
    <div class="CSS_ICON_MINUS" />
  </Button>
  <Button>
    <div class="CSS_ICON_BLOCKQUOTE" />
  </Button>
  <Button>
    <div class="CSS_ICON_LIST_BULLET" />
  </Button>
  <Button>
    <div class="CSS_ICON_LIST_ORDERED" />
  </Button>
  <Button>
    <div class="CSS_ICON_LIST_TASK" />
  </Button>
  <Button>
    <div class="CSS_ICON_LIST_TOGGLE" />
  </Button>
  <Button>
    <div class="CSS_ICON_LIST_INDENT" />
  </Button>
  <Button>
    <div class="CSS_ICON_LIST_DEDENT" />
  </Button>
  <Button>
    <div class="CSS_ICON_IMAGE" />
  </Button>
</div>
