.prosekit-virtual-selection {
  border-radius: 2px;
  background-color: #8888884d;
  box-shadow: 0 0 0 2px #8888884d;
}

.ProseMirror.prosekit-virtual-selection-active::selection,
.ProseMirror.prosekit-virtual-selection-active *::selection {
  background: transparent;
  color: inherit;
}
