---
import {  TabItem } from '@astrojs/starlight/components';
import type { ComponentProps } from 'astro/types';

type Props = ComponentProps<typeof TabItem>;
const props = Astro.props;
---

<div class="font-mono">
    <TabItem {...props} ><slot/></TabItem>
</div>
