# https://autofix.ci/setup

name: autofix.ci

on:
  pull_request:

permissions:
  contents: read

jobs:
  fix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1

      - uses: ./.github/actions/setup

      - name: Fix
        run: pnpm run fix

      - uses: autofix-ci/action@v1.3.2
