name: size

on:
  pull_request:
    branches:
      - master

jobs:
  size:
    runs-on: ubuntu-latest

    env:
      CI_JOB_NUMBER: 1
      NODE_OPTIONS: "--max-old-space-size=8192"

    steps:
      - uses: actions/checkout@v6.0.1

      - uses: ./.github/actions/setup

      - uses: andresz1/size-limit-action@v1.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          build_script: build:package
